.nav-tab a:hover{
	color: #000000;
	background: #000000;

}


.container{
	margin:auto;
}

.tab-container{
    border: 1px solid #ddd;
    width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
}

.formColor{
	color: #428bca;
	font-color: #428bca;
}
