
<html lang="en" ng-app="answerQuestionary">
<head>
		
	<meta charset="utf-8">
	<title>Questionário de Avaliação</title>
	<!--Loading boostrap-->	
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<!--Loading my style css-->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/formStyle.css">
	<!--Loading angularjs-->	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>	
	<!--Loading my code in angularJs-->
	<script src="lib/angular/answerQuestionary.js"></script> 


</head>
<body ng-controller="formCtrl">
	<!--barra de navegacao-->
	<!-- Centered Tabs -->
	<ul class="nav nav-tabs">
	  <li class="active"><a ng-class="{'active':tab==1'}">Primeira Parte</a></li>
	  <li><a ng-class="{'active':tab==2'}">Segunda Parte</a></li> 
	  <li><a ng-class="{'active':tab==3'}">Terceira Parte</a></li>
	</ul>  
	<!--Comeco do questionario-->
	
	<div class="container formLine">
		
	

		<div class="container-tab">
			<div class="tab-container">
				<h1>Questionário de Avaliação da Docência</h1>
				<h3 class="text-center">Nome da Disciplina</h3>

						
				<form class="form" role="form">
					<div ng-repeat="question in questions">
						<div class="form-group">
							<div class="row">
								
								<div class="col-md-6">
									<label for="email">{{question}}</label>

									<div ng-repeat="answer in answers">	
										<div class="radio">
											  <label class="textOverflow">
												  <input type="radio" name="optradio">
												  {{answer}}
											  </label>
										</div>
									</div>	
								</div>
								<div class="col-md-6">
									<label for="comment">Comentários:</label>
									<br>
									<textarea class="form-control" rows="6" id="comment" placeholder="Comente!"></textarea>
								</div>
								
							</div>													
						</div>
			
					</div>
			
					<div class="text-right">
						    <input type="button" class="btn btn-default"  value="Próximo" id = "buttonNext">
					</div>
					
				</form>
			</div>
		</div>		
		

		

	<footer class="text-center">Desenvolvido por Arthur Sampaio</footer>

	</div>
</body>
</html>
